<div class="container mt-5 " >
    
    <h2 class="mb-3 ms-5 text-dark fw-bolder">Book Your Table</h2>
    <form >
        <div class="form-group col-md-8 ms-5">
            <label for="numberOfSeats">number Of Seats:</label>
            <input type="number" class="form-control" id="numberOfSeats"  name="numberOfSeats"  >
            <span id="nameError" class="error"></span>
        </div>
        <div class="form-group col-md-8 ms-5">
            <label for="remainingSeats">remaining Seats:</label>
            <input type="number" class="form-control" id="remainingSeats"  name="remainingSeats"  >
            <span id="remainingSeats" class="error"></span>
        </div>

        <div class="form-group col-md-8 ms-5">
            <label for="bookingDate">booking Date:</label>
            <input type="date" class="form-control" id="bookingDate"  name="bookingDate" >
            <span id="bookingDate" class="error"></span>
        </div>

        <div class="form-group col-md-8 ms-5">
            <label for="paidAmount">paid Amount:</label>
            <input type="number" class="form-control" id="paidAmount"  name="paidAmount"  >
            <span id="paidAmount" class="error"></span>
        </div>

        
<br>
        <button type="submit" class="btn btn-primary ms-5">Submit</button>
    </form>
</div>